.mobile-menu {
  background-color: $white;
  display: none;
  height: 95vh;
  opacity: 0.99;
  padding-top: 50px;
  padding-bottom: 50px;
  position: fixed;
  right: 0;
  top: 64px;
  width: 100%;
  z-index: 99999;

  &__nav {
    margin-left: 7%;
    padding-top: 0;
    width: 140px;

    li {
      font-size: 1.6rem;
      letter-spacing: 3px;
      line-height: 20px;

      @media screen and (min-width: 550px) {
        font-size: 1.4rem;
        line-height: 28px;
      }
    }
  }

  &--open {
    display: block;

    @media screen and (min-width: 1025px) {
      display: none;
    }
  }
}
