.brand-dev {
  @include flexbox($direction: column, $justify-content: space-between, $align-items: stretch);

  &__content,
  &__image {
    @include flex-item($grow: 1, $shrink: 1, $basis: 50%);
  }

  &__content {
    padding: 30px 0;
    @include flexbox($justify-content: center, $align-content: center);
  }

  &__content-inner {
    width: 90%;
  }

  &__title {
    @media screen and (min-width: 767px) {
      font-size: 4.5rem;
    }

    @media screen and (min-width: 1201px) {
      font-size: 5vw;
    }

    @media screen and (min-width: 1401px) {
      font-size: 7rem;
    }
  }

  &__img {
    width: 100%;
    object-fit: cover;
    height: 100%;
  }

  &__img {
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    @include flexbox($direction: row, $justify-content: space-between, $align-items: stretch);
  }
}
