.hero-slider {
  overflow: hidden;
}

.slide {
  background-color: $grey2;
  height: calc(100vh - 65px);

  @media screen and (min-width: 768px) {
    height: 100vh;
  }

  &__background {
    background-size: cover !important;
    height: 100%;
  }

  &__background--services {
    background: $grey2 url(/images/HeroImage_OurServices.jpg) no-repeat center
      center;
  }

  &__background--strategy {
    background: $grey2 url(/images/HeroImage_BrandStrategy.jpg) no-repeat center
      center;
  }

  &__contents {
    @include flexbox(
      $direction: column,
      $justify-content: center,
      $align-items: flex-start
    );
    bottom: 0;
    height: 100%;
    left: 0;
    max-width: 85%;
    padding-left: 5vw;
    position: absolute;
    right: 0;
    text-align: left;
    top: 0;
    width: 100%;
    z-index: 4;

    p {
      text-shadow: 2px 1px 0px $white;
    }

    @media screen and (min-width: 768px) {
      max-width: 70%;
      padding-right: 5%;
    }

    @media screen and (min-width: 1450px) {
      max-width: 50%;
      padding-right: 0;
    }
  }
}

.slide-icons {
  @include flexbox($align-items: flex-start);
  margin-top: 20px;
  width: 100%;

  &__card {
    @include flex-item($grow: 0, $shrink: 1, $basis: 100%);
    @include flexbox($align-items: flex-start);
    padding-right: 15px;
    padding-bottom: 10px;
    text-align: center;
  }

  &__text {
    @include flex-item($grow: 1, $basis: auto);
    cursor: pointer;
    font-family: "ProximaNova-Semibold";
    font-size: 1rem;
    letter-spacing: 1px;
    padding-left: 10px;
    text-align: left;
    text-shadow: 2px 1px 0px $white;
    text-transform: uppercase;
  }

  &__icon {
    @include flex-item($basis: 50px);
    cursor: pointer;
    margin: 0 auto;
    max-width: 50%;
  }

  @media screen and (min-width: 450px) {
    &__card {
      @include flex-item($grow: 0, $shrink: 1, $basis: 33%);
      @include flexbox($direction: column);
    }

    &__text {
      padding-left: 0;
      text-align: center;
    }

    &__icon {
      margin: 0;
    }
  }

  @media screen and (min-width: 550px) {
    &__card {
      @include flex-item($grow: 0, $shrink: 1, $basis: 140px);
    }

    &__icon {
      width: 100%;
    }
  }

  @media screen and (min-width: 901px) {
    &__card {
      @include flex-item($grow: 0, $shrink: 1, $basis: 160px);
    }

    &__text {
      font-size: 1.2rem;
    }
  }
}

.slick-dots {
  @extend .list-reset;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 6;

  li {
    margin: 15px 0;
  }

  button {
    background-color: $grey5;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 0;
    height: 8px;
    padding: 0;
    outline: 0;
    width: 8px;
  }
}

.slick-active button {
  background-color: $light-pink;
}
