.hero-slider {
  // height: 100vh;
  // background-color: rgba(lime, 0.3);
  // height: 100vh;
  overflow: hidden;
}

.slide {
  height: calc(100vh - 65px);
  background-color: #eee;

  @media screen and (min-width: 768px) {
    height: 100vh;
  }

  &__background {
    background-size: cover !important;
    height: 100%;
  }

  &__background--services {
    background: #eee url(/images/HeroImage_OurServices.jpg) no-repeat center center;
  }

  &__background--strategy {
    background: #eee url(/images/HeroImage_BrandStrategy.jpg) no-repeat center center;
  }

  &__contents {
    @include flexbox($direction: column, $justify-content: center, $align-items: flex-start);
    position: absolute;
    max-width: 85%;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    padding-left: 5vw;
    z-index: 4;
    text-align: left;

    p {
      text-shadow: 2px 1px 0px white;
    }

    @media screen and (min-width: 768px) {
      max-width: 70%;
      padding-right: 5%;
    }

    @media screen and (min-width: 1450px) {
      max-width: 50%;
      padding-right: 0;
    }
  }
}

.slide-icons {
  @include flexbox($align-items: flex-start);
  margin-top: 20px;
  width: 100%;

  &__card {
    @include flex-item($grow: 0, $shrink: 1, $basis: 100%);
    @include flexbox($align-items: flex-start);
    text-align: center;
    padding-right: 15px;
    padding-bottom: 10px;
  }

  &__text {
    @include flex-item($grow: 1, $basis: auto);
    font-family: "ProximaNova-Semibold";
    letter-spacing: 1px;
    text-align: left;
    padding-left: 10px;
    text-transform: uppercase;
    text-shadow: 2px 1px 0px white;
    font-size: 1rem;
  }

  &__icon {
    @include flex-item($basis: 50px);
    margin: 0 auto;
    max-width: 50%;
  }

  @media screen and (min-width: 450px) {
    &__card {
      @include flex-item($grow: 0, $shrink: 1, $basis: 33%);
      @include flexbox($direction: column);
    }

    &__text {
      text-align: center;
      padding-left: 0;
    }

    &__icon {
      margin: 0;
    }
  }

  @media screen and (min-width: 550px) {
    &__card {
      @include flex-item($grow: 0, $shrink: 1, $basis: 140px);
    }

    &__icon {
      width: 100%;
    }
  }
}

.slick-dots {
  @extend .list-reset;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 6;

  li {
    margin: 15px 0;
  }

  button {
    border-radius: 50%;
    padding: 0;
    width: 8px;
    height: 8px;
    border: none;
    outline: 0;
    font-size: 0;
    background-color: #bbb;
    cursor: pointer;
  }
}

.slick-active button {
  background-color: #ee5eb6;
}
