.stay-in-touch {
  background-color: $grey1;
  padding: 100px 15px;
  text-align: center;

  &__inner {
    @media screen and (min-width: 640px) {
      margin: auto;
      max-width: 100%;
      width: 1280px;
    }
  }

  &__col {
    @media screen and (min-width: 640px) {
      margin: auto;
      width: 66.66%;
    }
  }

  &__input {
    background-color: white;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    color: #0a0a0a;
    display: block;
    font-family: "ProximaNova-Light";
    font-size: 1.5rem;
    height: 52px;
    letter-spacing: 0px;
    margin: 27px auto 0 auto;
    max-width: 580px;
    padding: 10px 0 10px 15px;
    width: 100%;
    -moz-appearance: none;
  }

  &__input::placeholder {
    color: #cacaca;
  }

  &__input:focus {
    border: 1px solid #8a8a8a;
    box-shadow: 0 0 5px #cacaca;
    outline: none;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  }

  &__submit {
    background-color: transparent;
    border: 0px;
    border-bottom: 3px solid #000;
    border-radius: 0;
    color: black;
    cursor: pointer;
    display: block;
    font-family: "ProximaNova-Semibold";
    font-size: 14px;
    letter-spacing: 3px;
    margin: auto;
    padding: 52px 0 0 0;
    text-transform: uppercase;
  }

  @media screen and (min-width: 640px) {
    padding: 100px 60px;
  }
}
