html {
  font-size: 62.5%;
  position: relative;
  scroll-behavior: smooth;

  @media (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
}

html * {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  color: #1a1a1a;
  font-family: "ProximaNova-Light", "Verdana", sans-serif;
  font-size: 1.4em;
  position: relative;
}

figure {
  margin: 0;
}

div,
nav,
article,
section,
header,
footer {
  position: relative;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  outline: none;

  &:hover {
    color: inherit;
  }
}

textarea {
  resize: none;
}

//styles for the different levels of content
//thoughout the website
.body-content {
  color: $grey4;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.8rem;

  &__secondary {
    @extend .body-content;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 2.2rem;
  }

  &__tertiary {
    @extend .body-content;
    font-size: 1rem;
    line-height: 1.4em;
  }

  &--light-grey {
    color: $grey3;
  }

  &--black {
    color: $p-colour1;
  }

  &--bold {
    font-weight: 500;
  }

  &--italic {
    font-style: italic;
  }

  @media screen and (min-width: 768px) {
    font-size: 1.8rem;
    line-height: 3.5rem;

    &__secondary {
      font-size: 1.6rem;
      line-height: 2.8rem;
    }
  }
}

//styles for the different levels of headings
//thoughout the website
.heading {
  &__primary {
    font-size: 3.2rem;
    line-height: 4rem;
    font-weight: 300;
    text-transform: uppercase;
    margin: 25px 0;
  }

  &__secondary {
    font-weight: 500;
    font-size: 1.4rem;
  }

  &--white {
    color: white;
  }

  &--dark {
    color: $p-colour1;
  }

  &--navy {
    color: $s-colour3;
  }

  &--orange {
    color: $p-colour3;
  }

  @media screen and (min-width: 768px) {
    &__primary {
      font-size: 4.2rem;
      margin: 45px 0;
    }

    &__secondary {
      font-size: 1.8rem;
    }
  }
}

//image responsive class, basically taken from bootstrap
.img-rspnv {
  max-width: 100%;
  display: block;
  height: auto;

  &__center {
    @extend .img-rspnv;
    margin: 0 auto;
  }
}

//resets all ul and ol lists
.list-reset {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

//resets text capitalisation for where it is
//not needed, but already set for other items
.case-normalise {
  text-transform: none;
}

//scrol positioning for all the hero landing pages
.scroll-down-position {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}

.mobile-menu-shadow {
  box-shadow: 0px 6px 6px rgba(51, 51, 51, 0.2);
  position: absolute;
  top: -1rem;
  right: 0;
  width: 100%;
  height: 1rem;
}

//correct the font for form buttons
input[type="submit"] {
  font-family: "Montserrat", "Verdana", sans-serif;
}
