html {
  font-size: 62.5%;
  position: relative;
}

html * {
  box-sizing: border-box;
}

body {
  background-color: white;
  color: #1a1a1a;
  font-family: "ProximaNova-Light", "Verdana", sans-serif;
  font-size: 1.4em;
  margin: 0;
  padding: 0;
  position: relative;
  -moz-osx-font-smoothing: grayscale;
}

div,
nav,
article,
section,
header,
footer {
  display: block;
  position: relative;
}

a {
  color: inherit;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}

//styles for the different levels of content
//thoughout the website
.body-content {
  color: black;
  font-size: 1.6rem;
  line-height: 28px;
  text-rendering: optimizeLegibility;

  &--grey {
    color: #7f7f7f;
  }
}

//styles for the different levels of headings
//thoughout the website
.heading {
  font-family: "FreightBig Pro";
  font-size: 4rem;
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 5px;
  padding-bottom: 20px;
  text-rendering: optimizeLegibility;

  @media screen and (min-width: 601px) {
    font-size: 6rem;
  }

  @media screen and (min-width: 1201px) {
    font-size: 5vw;
  }

  @media screen and (min-width: 1401px) {
    font-size: 7rem;
  }

  &__period {
    color: #ec1b9e;
    display: none; //wasn't sure to include this or not.
  }
}

//styles for linking buttons
.button {
  display: inline-block;
  font-family: "ProximaNova-Semibold";
  font-size: 1.4rem;
  letter-spacing: 3px;
  margin: 15px 0;
  padding: 9px 0 5px;
  position: relative;
  text-decoration: none;
  text-shadow: none;
  text-transform: uppercase;

  &::before,
  &::after {
    background: black;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }

  &::before {
    opacity: 0;
    -webkit-transition: top 0.6s, opacity 0.6s, -webkit-transform 0.6s;
    -moz-transition: top 0.6s, opacity 0.6s, -moz-transform 0.6s;
    transition: top 0.6s, opacity 0.6s, transform 0.6s;
  }

  &:hover::before {
    opacity: 1;
    top: 0%;
  }

  p {
    margin: 0;
  }
}

//image responsive class, basically taken from bootstrap
.img-rspnv {
  display: block;
  height: auto;
  max-width: 100%;

  &__center {
    @extend .img-rspnv;
    margin: 0 auto;
  }
}

//resets all ul and ol lists
.list-reset {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
