.nav-panel {
  background-color: pink;
  height: 65px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.body-panel {
  background-color: lime;
  height: 500px;
}

p {
  margin: 0;
}

// footer#footer {
//   background-color: $p-colour1;
//   color: white;
//   padding: 30px;
//   font-size: 1.2rem;
// }
