.nav-panel {
  @include flexbox($justify-content: space-between, $align-content: center);
  background-color: white;
  height: 65px;
  left: 0;
  padding: 0 10px;
  position: sticky;
  right: 0;
  top: 0;
  z-index: 999;
}

.body-panel {
  background-color: lime;
  height: 300px;
}

p {
  margin: 0;
}
