.nav-panel {
  @include flexbox($justify-content: space-between, $align-content: center);
  background-color: white;
  height: 65px;
  left: 0;
  padding: 0 10px;
  position: sticky;
  right: 0;
  top: 0;
  z-index: 999;

  @media screen and (min-width: 1025px) {
    width: 14%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(purple, 0.5);
    height: 100%;
  }
}

.body-panel {
  @media screen and (min-width: 1025px) {
    width: 86%;
    margin-left: 14%;
  }
}

p {
  margin: 0;
}
