//colours
$white: #ffffff; //white
$black: #000000; //black
$light-pink: #ee5eb6; //light pink
$hot-pink: #ec1b9e; //hot pink
$social-pink: #ff2f92; //social pink

//greys
$grey1: #f3f3f3;
$grey2: #eeeeee;
$grey3: #dfdfdf;
$grey4: #cacaca;
$grey5: #bbbbbb;
$grey6: #999999;
$grey7: #8a8a8a;
$grey8: #7f7f7f;
$grey9: #3f4046;
$grey10: #0a0a0a;
