//primary colours
$p-colour1: #333333; //dark grey
$p-colour2: #ed6a11; //orange
$p-colour3: #ec1b9e; //light orange

//greys
$grey1: #f3f3f3;
$grey2: #dddbd7;
$grey3: #b1b0af;
$grey4: #909090;
$grey5: #5b5b5b;
